
<app-layout [typeButton]="2">
  <ng-container layoutBody>
    <div class="ec-container pb-12 bg-white" style="min-height: calc(100vh - 3rem)">
      <div class="pt-8">
        <div class="text-2xl text-black">Container 1</div>
        <div class="py-4 text-mono-70">
          Una ver terminado el modelado de su formulario presione el botón ‘Guardar’ para no perder sus cambios.
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="flex space-x-4 w-1/4 mt-10">
            <app-button routerLink="/wizard/dymanic-forms/forms" type="button" label="Cancelar"
                        brColor="border-blue-600"
                        bgColor="bg-transparent"
                        txtColor="text-blue-600" class="h-12 w-full"></app-button>
            <app-button  type="button" label="Guardar"
                         brColor="border-blue-600"
                         bgColor="bg-blue-600"
                         txtColor="text-gray-900" class="h-12 w-full"></app-button>
          </div>
          <div class="flex space-x-4 w-36 mt-10 ">
            <app-button *ngIf="!showPreview" type="button" label="Vista Previa"
                        brColor="border-gray-700"
                        bgColor="bg-gray-700"
                        txtColor="text-mono-70" class="h-12 w-full"></app-button>
            <app-button *ngIf="showPreview" type="button" label="Vista Previa"
                         brColor="border-alert-success"
                         bgColor="bg-alert-success"
                         txtColor="text-white" class="h-12 w-full"></app-button>
          </div>
        </div>
        <div class="flex w-full mt-8 space-x-4">
          <app-block-option class="w-1/4"></app-block-option>
          <app-container-card (show-preview)="showPreview = $event" class="w-full"></app-container-card>
        </div>

      </div>
    </div>
    <!--<app-footer></app-footer>-->
  </ng-container>
</app-layout>

<div class="fixed top-0 z-50 bg-black  w-screen h-screen flex items-center justify-center"
     style="background: rgba(20,20,20,0.6)" *ngIf="false">
  <div class="p-4 flex bg-white rounded border border-solid border-mono-30">
    <div>
      <img src="assets/img/spiner.svg" class="animate-spin" alt="spiner">
    </div>
    <div class="t-h5 ml-4 text-black">
      <span>
        Cargando...
      </span>
    </div>
  </div>
</div>
