.button-add-timer {
  background-color: #ffba01 !important;
  border-color: #ffba01 !important;
  color: black;
  margin-left: 1em;
}

.buttons-new {
  margin: 0em 0 1em 0;
}

.info {
  margin: 0 0 0.5em 0;
}

.button-back {
  margin: 0 0 0.5em 0;
}

.form {
  margin: 1em 0 0 0;
}

.tb-options {
  width: 9em;
}

.icon-edit {
  background-color: transparent;
  color: #007ad9;
  border-color: transparent;
}

.icon-options {
  background-color: transparent;
  color: #ffba01;
  border-color: transparent;
}

.icon-delete {
  background-color: transparent;
  color: #c01120;
  border-color: transparent;
}

.id-task {
  margin: 0 0 1em 0;
}