// colors
$grey: #656464;
$ecatch-blue: #039be5;
$primary: #1e2129;
$secondary: #353a48;
$white: whitesmoke;
$colorhead: #2c4464;
$autogestion-color-titulos: #2c4464;
$login-logo-background: #039be5;
$login-infoContainer-font-color: white;

//size
$label-size: 0.8rem;
$autogestion-logo-main: 6.8rem;
$autogestion-logo-footer: 4.5rem;

// size login
$login-logo-size: 10rem;
$login-container-logo: 16rem;
$login-slogan-font: 15px;
$login-version-font: 14px;

// size menu
$menu-width-logo: 80%;
$menu-height-logo: 75%;
