<div class="space-y-8 py-4">
  <div >
    <div class="text-2xl text-black">CONFIGURACIÓN DE FECHA</div>
    <div class="py-2 text-mono-70">
      NOMBRE DEL CALENDARIO: {{calendar.name}}
    </div>
  </div>
  <div class="flex w-full justify-center " >
    <app-list-select>
      <ng-container>
        <button>daad</button>
      </ng-container>
    </app-list-select>
  </div>
  <div class="w-1/5">
    <app-button (click)="backEvent()"
                type="button" label="Atras"
                brColor="border-brand-1"
                bgColor="bg-transparent"
                txtColor="text-brand-1" class="h-12 w-full whitespace-nowrap"></app-button>
  </div>
</div>
