<!--Messages - Create-->
<app-layout>
  <ng-container layoutBody>
    <div class="ec-container py-6 md:py-12 bg-white dark:bg-black">
      <div class="flex flex-col lg:items-center space-y-12">
        <span class="t-h5 text-black dark:text-white">{{'CREATE MESSAGE'|translate}}</span>
        <form class="space-y-4" class="grid grid-cols-2 gap-4 lg:w-2/3">
          <div class="input flex flex-col space-y-1 col-span-2">
            <label class="t-caption-2 text-mono-70">{{'IDENTIFICATION'|translate}}</label>
            <input class="ec-input" type="number">
          </div>
          <div class="input flex flex-col space-y-1 col-span-2">
            <label class="t-caption-2 text-mono-70">{{'MESSAGE IN SPANISH'|translate}}</label>
            <input class="ec-input" type="text">
          </div>
          <div class="input flex flex-col col-span-2 space-y-1">
            <label class="t-caption-2 text-mono-70">{{'MESSAGE IN ENGLISH'|translate}}</label>
            <input class="ec-input" type="text">
          </div>
          <div class="input flex flex-col space-y-1 col-span-2">
            <label class="t-caption-2 text-mono-70">{{'TYPE OF MESSAGE'|translate}}</label>
            <div class="grid grid-cols-1 gap-4 col-span-2 md:grid-cols-3">
              <div class="flex flex-row space-x-2 items-center">
                <input class="w-4 h-4"type="radio">
                <label class="t-body-2 text-black">{{'ERROR'|translate}}</label>
              </div>
              <div class="flex flex-row space-x-2 items-center">
                <input class="w-4 h-4"type="radio">
                <label class="t-body-2 text-black">{{'WARNING'|translate}}</label>
              </div>
              <div class="flex flex-row space-x-2 items-center">
                <input class="w-4 h-4"type="radio">
                <label class="t-body-2 text-black">{{'SUCCESS'|translate}}</label>
              </div>
            </div>
          </div>
        </form>
        <div class="flex flex-row space-x-4 lg:w-2/3">
          <button routerLink="/admin/message/list" class="flex-1 md:flex-none b-outline">{{'CANCEL'|translate}}</button>
          <button class="flex-1 md:flex-none b-solid">{{'SAVE'|translate}}</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </ng-container>
</app-layout>
