<app-layout>
  <ng-container layoutBody>
    <div class="ec-container py-6 md:py-12 bg-white dark:bg-black">
      <div class="flex flex-col  space-y-12">
        <span class="t-h5 text-black dark:text-white">Crear Contraseña</span>
        <form class="space-y-4" class="grid grid-cols-2 gap-4 lg:w-2/3">
          <div class="input flex flex-col space-y-1 col-span-2">
            <label class="t-caption-2 text-mono-70">Contraseña</label>
            <input class="ec-input" type="number" name="Password">
          </div>
        </form>

        <div class="flex flex-row space-x-4 lg:w-2/3">
          <button routerLink="/admin/password-not-allowed/list" class="flex-1 md:flex-none b-outline">Cancelar</button>
          <button class="flex-1 md:flex-none b-solid">Guardar</button>
        </div>
      </div>
    </div>




<app-footer></app-footer>
  </ng-container>
</app-layout>
