.image-visor {
  position: relative;
  width: 100%;
  height: 100%;
  background: #6d6d6d;

  &-canvas {
    display: block;
    margin: auto;
  }

  &-content {
    overflow: auto;
    width: 100%;
    height: 100%;
    display: grid;
  }

  &-action {
    position: absolute;
    width: 100%;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms;
    z-index: 10;

    &__page {
      display: inline-block;
      background: white;
      border: 1px solid black;
      padding: 8px;
      border-radius: 7px;
      margin: 0 10px;
    }

    &__option {
      margin-left: 10px;
    }
  }
}
