<div class="pb-24 h-full">
  <div class="h-full group-items ec-container-workflow">
    <div class="h-full w-full" *ngIf="visibilityForm">
      <div *ngFor="let entity of keyWordFilter; let position = index" class="item-card">
        <div class="head bg-brand-2 flex justify-between h-10 flex-1 items-center">
          <div class="flex flex-row space-x-2 items-center ml-4">
            <span class="t-subtitle-1 capitalize text-white">{{entity.name | replace: '_': ' '}}</span>
          </div>
          <button class="b-solid w-10 h-10 rounded-none"
                  (click)="keyWordFilter[position].active = !keyWordFilter[position].active">
          <span appIcon iconName="caret down" iconColor="text-white"
                class="{{entity.active ? 'transform rotate-180' : ''}}"></span>
          </button>
        </div>
        <div class="body p-4" *ngIf="entity.active">
          <div class="form border border-mono-30 rounded p-4">
            <div class="inputs flex flex-col space-y-4">
              <form [formGroup]="form[entity.name || '']" class="flex flex-col gap-4">
                <div *ngFor="let item of fields[entity.name || '']; let index = index" class="ec-input space-y-1 flex-1 flex flex-col gap-2">
                  <label class="t-caption-2 text-mono-70 capitalize">{{item.key | replace:'_': ' '}}</label>
                  <!--<ec-input-text *ngIf="item.type === 'input' && (item.templateOptions.type === 'text' || !item.templateOptions.type)" txtColor="text-black" bgContainerColor="bg-mono-10"
                                 brContainerColor="border-mono-30" [formControlName]="item.key"></ec-input-text>
                  <ec-input-date *ngIf="item.type === 'input' && item.templateOptions.type === 'date'" class="flex-grow"
                                 txtColor="text-black" bgContainerColor="bg-mono-10"
                                 brContainerColor="border-mono-30" bgHoverDay="bg-brand-d-1" [formControlName]="item.key"></ec-input-date>-->
                  <input *ngIf="item.type === 'input'" class="input-style" [type]="item.templateOptions.type"
                         [formControlName]="item.key">
                  <ec-dropdown *ngIf="item.type === 'select' || item.type === 'Option'" [data]="item.templateOptions.options" class="mt-1"
                               [dropStyle]="docTypesDropdown" [icon]="true" [filter]="true" optionLabel="label"
                               placeholder="{{'SELECT_A_VALUE'|translate}}" [showClear]="true"
                               [formControlName]="item.key"></ec-dropdown>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="absolute left-0 p-4 w-full bottom-0 bg-white border-t border-mono-30"
       (click)="returnAttributesInfo()">
    <button class="b-solid w-full flex-1">{{buttonLabel}}</button>
  </div>
</div>


<ec-toast [toastStyle]="toastStyle"></ec-toast>

<app-block-page [show]="blockPage"></app-block-page>

