<div class="flex gap-4 mb-12">
  <div class="flex gap-1 items-center" *ngFor="let step of steps; let position = index">
    <div class="rounded-full h-8 w-8 {{step.active ? 'bg-brand-l-1 text-white' : 'bg-mono-10 text-black'}} flex items-center justify-center"><span>{{position + 1}}</span></div>
    <div class="text-brand-d-1 t-caption-1">
      <span>{{step.name | translate}}</span>
    </div>
  </div>
</div>

<div class="flex flex-col  space-y-12" *ngIf="positionStep === 0">
  <div>
    <div>
      <span class="t-h5 text-black dark:text-white">{{(operation === 'add' ? 'CREATE' : 'EDIT') | translate}} {{'EXECUTION' | translate}}</span>
    </div>

    <div class="flex gap-4 items-center" style="margin-top: 1rem">
      <div class="w-2 h-10 bg-brand-d-1"></div>
      <div class="text-mono-70 t-caption-1">
        <span>ID: {{executionSelected.id}}</span>
      </div>
    </div>
  </div>

  <form [formGroup]="taskForm" class=" grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
    <div class="input flex flex-col space-y-1">
      <label class="t-caption-2 text-mono-70">{{'NAME' | translate}}</label>
      <input class="ec-input" type="text" formControlName="name">
      <div class="text-alert-error"
           *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched && taskForm.get('name')?.hasError('required')">
        <span>El campo es requerido</span>
      </div>
      <div class="text-alert-error"
           *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched && taskForm.get('name')?.hasError('maxlength')">
        <span>El tamaño del campo no puede ser mayor a 50 caracteres</span>
      </div>
      <div class="text-alert-error"
           *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched && taskForm.get('name')?.hasError('minlength')">
        <span>El tamaño del campo no puede ser menor a 3 caracteres</span>
      </div>
    </div>
    <div class="input flex flex-col space-y-1">
      <label class="t-caption-2 text-mono-70">{{'ICON' | translate}}</label>
      <ec-dropdown [filter]="true" class="font-icon-material" placeholder="{{'SELECT_ICON' | translate}}" formControlName="class" [icon]="true" optionLabel="label" [data]="icons" [dropStyle]="dropStyle"></ec-dropdown>
      <div class="text-alert-error"
           *ngIf="taskForm.get('class')?.invalid && taskForm.get('class')?.touched && taskForm.get('class')?.hasError('required')">
        <span>El campo es requerido</span>
      </div>
    </div>
    <div class="input flex flex-col space-y-1">
      <label class="t-caption-2 text-mono-70">{{'EXECUTION_TYPE' | translate}}</label>
      <input class="ec-input cursor-not-allowed focus:outline-none" type="text" readonly formControlName="type">
    </div>
    <div class="input flex flex-col space-y-1" *ngIf="typeTask === 'TIMER'">
      <label class="t-caption-2 text-mono-70">{{'TIMERS' | translate}}</label>
      <ec-dropdown [filter]="true" placeholder="{{'SELECT_TIMER' | translate}}" formControlName="timer" [icon]="true" optionLabel="name" optionValue="id" [data]="timers" [dropStyle]="dropStyle"></ec-dropdown>
      <div class="text-alert-error"
           *ngIf="taskForm.get('timer')?.invalid && taskForm.get('timer')?.touched && taskForm.get('timer')?.hasError('required')">
        <span>El campo es requerido</span>
      </div>
    </div>
    <div class="input flex flex-col space-y-1 col-span-2">
      <label class="t-caption-2 text-mono-70">{{'DESCRIPTION' | translate}}</label>
      <textarea class="ec-input" style="height: 5rem!important;" formControlName="description"></textarea>
      <div class="text-alert-error"
           *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched && taskForm.get('description')?.hasError('required')">
        <span>El campo es requerido</span>
      </div>
      <div class="text-alert-error"
           *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched && taskForm.get('description')?.hasError('maxlength')">
        <span>El tamaño del campo no puede ser mayor a 8000 caracteres</span>
      </div>
      <div class="text-alert-error"
           *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched && taskForm.get('description')?.hasError('minlength')">
        <span>El tamaño del campo no puede ser menor a 3 caracteres!</span>
      </div>
    </div>
  </form>
  <div class="flex flex-row space-x-4 lg:w-2/3 ">
    <button class="flex-1 md:flex-none b-outline rounded-md" (click)="cancelCreateOrEdit()">{{'CANCEL' | translate}}</button>
    <button class="flex-1 md:flex-none b-solid rounded-md" (click)="saveTask()">{{'SAVE' | translate}}</button>
  </div>
</div>

<div *ngIf="positionStep === 1 && taskForm.get('type')?.value === 3">
  <div class="flex w-full items-center justify-between mb-5">
    <div><input class="ec-input w-full md:w-48" type="text" placeholder="{{'FIND_ROL' | translate}}"
                (input)="filterRoles($event)"></div>
  </div>
  <div class="w-full">
    <div class="table-h hidden md:block w-full">
      <div class="table-head border-b border-brand-2 flex flex-row t-caption-1 text-brand-2">
        <div class="p-2 w-16">N°</div>
        <div class="p-2 flex-1">{{'ROLE_ALLOWED' | translate}}</div>
        <div class="p-2 w-32 flex items-center justify-center">{{'SELECT' | translate}}</div>
      </div>
      <div class="table-body text-body-2 text-mono-70">
        <div *ngFor="let rol of rolesPagination, let i = index" class="register-table w-full flex flex-row">
          <div class="flex items-center p-2 w-16">{{i + 1}}</div>
          <div class="flex items-center p-2 flex-1 break-all">{{rol.role.name}}</div>
          <div class="flex items-center p-2 w-32 justify-center">
            <ec-checkbox color="text-brand-d-1" [ec-value]="rol.active" (ec-change)="changeRole($event, rol.role.id || '')"></ec-checkbox>
          </div>
        </div>
      </div>
    </div>
    <app-paginator [data]="rolesDisplay" (current-data-page)="rolesPagination = $event"></app-paginator>
  </div>
  <div class="flex flex-row space-x-4 lg:w-2/3 mt-4">
    <button class="flex-1 md:flex-none b-outline" (click)="backStep()">{{'BACK' | translate}}</button>
    <button class="flex-1 md:flex-none b-solid" (click)="cancelCreateOrEdit()">
      {{'EXIT' | translate}}</button>
  </div>
</div>
<ec-toast [toastStyle]="toastStyle"></ec-toast>
<app-block-page [show]="blockPage"></app-block-page>
