.row-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-top: 1em !important;
  margin-bottom: 3em;
  span {
    font-size: 0.75rem;
  }
}

.box {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
}

.box > * {
  margin: 6px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}

.mat-step-icon-state-number {
  background: #bfbfbf;
  color: white;
}

::ng-deep .mat-step-icon-selected {
  background: #007ad9 !important;
  color: white;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep .mat-step-label {
  padding: 4px 0 0 0 !important;
}

::ng-deep .mat-step-icon-state-edit {
  background-color: #34a835 !important;
  color: white;
}

::ng-deep .ui-spinner {
  width: 100%;
}

.ui-button-rounded {
  height: 22px !important;
  width: 22px !important;
  margin-left: 0.5em;
}

.button-margin {
  margin-right: 0.5em;
}

.button-add-timer {
  background-color: #ffba01 !important;
  border-color: #ffba01 !important;
  color: black;
  margin-left: 1em;
}

.button-add {
  margin-top: 1em;
}

.icon-delete {
  background-color: transparent;
  color: #c01120;
  border-color: transparent;
}

.icon-delete-comment {
  background-color: transparent;
  color: #c01120;
  border-color: transparent;
  margin-top: 1em;
  font-size: 10px !important;
}

::ng-deep .margin-element-right {
  margin-right: 0.5em !important;
}

.ui-dropdown .dropdown-comments {
  width: 100% !important;
}
