<div class="w-full space-y-10">
  <div class="w-full lg:flex lg:justify-between lg:space-x-4 border-b-2 border-gray-400 space-y-4 lg:space-y-0 pb-4 ">
    <div class="w-full lg:w-1/3">
      <div class="w-full grid md:flex lg:space-y-4 space-x-2 md:space-y-0 lg:grid md:space-x-4 lg:space-x-0 space-y-0 text-mono-70 ">
        <div class="w-full grid space-y-2">
          <div>
            <span class="text-mono-70">{{'ENTITY'|translate}}</span>
            <ec-dropdown
              [data]="dataDropIdentity"
              [filter]="true"
              [dropStyle]="styleDropdown" [icon]="true"
              placeholder="Seleccion una Entidad"
              [formControl]='securityEntitiesSelectedForm'
            ></ec-dropdown>
          </div>
          <div class="w-1/2" *ngIf="showCreateSecurityEntity">
            <app-button type="button" label="{{'ADD'|translate}}"
                        brColor="border-brand-1"
                        bgColor="bg-transparent"
                        txtColor="text-brand-1" class="h-10 w-full" (click)="createSecurityEntity()"></app-button>
          </div>
        </div>
        <div class="w-full grid space-y-2">
          <div>
            <span class="text-mono-70">{{'ATRIBUTES'|translate}}</span>
            <ec-dropdown
              [data]="dataDropAttribute"
              [dropStyle]="styleDropdown" [icon]="true"
              [formControl]='securityEntityAttributeSelectedForm'
              placeholder="{{'SELECT AN ATRIBUTE'|translate}}"
            ></ec-dropdown>
          </div>
          <div class="w-1/2" *ngIf="securityEntityAttributeSelected">
            <app-button
              type="button" label="{{'ADD'|translate}}"
              brColor="border-brand-1"
              bgColor="bg-transparent"
              txtColor="text-brand-1" class="h-10 w-full"
              (click)='createSecurityEntityAttribute()'
            ></app-button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full text-mono-70 space-y-2">
      <app-table [tableStyle]="styleTable" (dataReturn)="eventTableOption($event)"></app-table>
    </div>
  </div>
  <div class="flex space-x-4 w-1/4">
    <app-button type="button" label="{{'PREVIOUS'|translate}}"
                brColor="border-brand-1"
                bgColor="bg-transparent"
                txtColor="text-brand-1" class="h-12 w-full" (click)="backStep(2)"></app-button>
  </div>
</div>


