<app-layout>
  <ng-container layoutBody>
    <div class="hidden lg:block">
      <as-split unit="percent" direction="horizontal">
        <div class="left-split overflow-hidden">
          <app-filter-documents (showTable)="showTable = $event"></app-filter-documents>
        </div>
        <div class="right-split overflow-hidden">
          <perfect-scrollbar>
            <app-grado-table  *ngIf="showTable"></app-grado-table>
          </perfect-scrollbar>
        </div>
      </as-split>
    </div>
    <div class="lg:hidden">
      <!--
      <app-filter-documents></app-filter-documents>
      <app-Grado-table></app-Grado-table>
      -->
      <app-grado-table *ngIf="showTable"></app-grado-table>

    </div>
  </ng-container>
</app-layout>
