<div class="flex flex-col w-full">
  <div class="space-y-4 md:space-y-0 md:flex md:justify-between md:content-center w-full">
    <div class="w-full md:w-1/4 lg:w-1/6">
      <!--
      <app-button *ngIf="tableStyle.buttonTittle?.showButton" type="button" label="{{tableStyle.buttonTittle?.label}}"
                  (click)="emitEventButton(tableStyle.buttonTittle?.route ? tableStyle.buttonTittle?.route! : '')"
                  brColor="bg-brand-1"
                  bgColor="bg-brand-1"
                  txtColor="text-white" class="h-12 w-full whitespace-nowrap"></app-button>-->
      <button class="b-solid" *ngIf="tableStyle.buttonTittle?.showButton" (click)="emitEventButton(tableStyle.buttonTittle?.route ? tableStyle.buttonTittle?.route! : '')">Crear Usuario</button>
    </div>
    <div class="flex w-full md:w-1/3 space-x-4">
      <div *ngIf="tableStyle.isSearch" class="flex space-x-4 mb-3 w-full md:w-3/5">
        <div class="input-group relative  flex items-stretch w-full mb-4 rounded bg-mono-10 border">
          <input type="search"
                 class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-mono-70 font-normal rounded transition ease-in-out  bg-mono-10 m-0 focus:text-mono-70 focus:border-blue-600 focus:outline-none "
                 placeholder="Buscar" aria-label="Search" aria-describedby="button-addon2"
                 [(ngModel)]="filterTerm"
          >
          <span
            class="input-group-text flex items-center px-3 py-1.5 text-base font-normal text-gray-400 text-center whitespace-nowrap rounded"
            id="basic-addon2">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor"
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
        </svg>
      </span>
        </div>
      </div>
      <div class="w-full md:w-2/5">
        <button *ngIf="tableStyle.buttonTittle?.showButton" (click)="export()" class="b-outline group w-full">
          <div>
            <svg class="text-alert-success group-hover:text-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px"
                 y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                  <g><path d="M884.4,332.8H728.1v97h156.3V332.8z M884.4,456.3H728.1v97.1h156.3V456.3z M884.4,209.3H728.1v97h156.3V209.3z M884.4,698.8H728.1v97.1h156.3V698.8z M956.2,112.3H580.3c-4.5,0-8.8,0.9-12.7,2.6V10L10,121.1v757.8L567.6,990v-99.6c3.9,1.7,8.2,2.6,12.7,2.6h375.9c18.7,0,33.8-15.8,33.8-35.3V147.6C990,128.1,974.9,112.3,956.2,112.3z M385.9,663.6l-67.6-4.4l-50.7-127.9l-54.9,119.2l-63.4-4.4l80.3-145.6l-71.8-158.7l63.3-4.4l42.2,119.1h8.4l46.5-127.9l67.6-4.4l-84.5,167.6L385.9,663.6z M947.8,848.8H567.6v-52.9h126.7v-97.1H567.6v-22h126.7v-97H567.6v-26.4h126.7v-97.1H567.6v-26.5h126.7v-97H567.6v-26.4h126.7v-97H567.6v-52.9h380.2L947.8,848.8L947.8,848.8z M884.4,579.8H728.1v97h156.3V579.8z"/></g>
                </svg>
          </div>
          <span>Exportar Datos</span>
        </button>
      </div>
    </div>
  </div>

  <div class="overflow-x-auto mt-2">
    <div *ngIf="tableStyle.type !== 2">
      <app-table-standar
        [dataSource]="tableStyle.dataSource!"
        [columns]="tableStyle.columns"
        [options]="tableStyle?.optionsStander!"
        [filterTerm]="filterTerm"
        (dataReturn)="eventRunOption($event)"
      ></app-table-standar>
    </div>


    <div *ngIf="tableStyle.type === 2" class="min-w-full space-y-4 lg:space-y-0">
      <div *ngFor="let dataSource of tableStyle.dataSources; index as index">
        <ng-container *ngIf="index+1 >= rangeMin+1 && index+1 <= rangeMax">
          <div class="w-full border lg:border-0 p-4 lg:p-0">
            <table class="min-w-full  bg-transparent overflow-hidden">
              <thead [ngClass]="index !==0 ?'border-b lg:border-0 lg:p-0':'border-b'">
              <tr>
                <th [ngClass]="index !==0 ?'py-3 lg:p-0':'py-3 lg:py-4'" scope="col"
                    class="text-sm font-medium text-gray-900 px-3 lg:px-6 text-left text-brand-2 w-1"
                >
                  <span [ngClass]="index !==0 ?'lg:hidden lg:p-0':'py-3 lg:py-4'">N°</span>
                </th>
                <th scope="col"
                    [ngClass]="index !==0 ?'py-3 lg:p-0':'py-3 lg:py-4'"
                    class="text-sm font-medium text-gray-900 text-left text-brand-2 hidden lg:table-cell"
                >
                  <span [ngClass]="index !==0 ?'lg:hidden lg:p-0':''">Entidad</span>
                </th>
                <th scope="col"
                    [ngClass]="index !==0 ?'py-3 lg:p-0':'py-3 lg:py-4'"
                    class="text-sm font-medium text-gray-900 px-3 lg:px-6  text-left text-brand-2 w-1 hidden lg:table-cell "
                >
                  <span [ngClass]="index !==0 ?'lg:hidden lg:p-0':''">Opciones</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="lg:border-b">
                <td
                  class="px-3 lg:px-6 py-2 lg:py-4 whitespace-nowrap text-sm font-medium text-gray-400 hidden lg:table-cell">{{ index + 1 }}</td>
                <td class="text-sm text-gray-400 font-light px-3 lg:px-0 py-2 lg:py-4 text-left  whitespace-nowrap">
                  <div class="inline">
                    <p class="block lg:hidden ">Entidad</p>
                    <p class="text-ms font-medium lg:text-sm font-bold overflow-hidden">{{dataSource.name}}</p>
                  </div>
                </td>
                <td
                  class="text-sm text-center text-gray-400 font-light px-3 lg:px-6 py-2 lg:py-4 whitespace-nowrap flex justify-center space-x-4 hidden lg:table-cell">
          <span *ngFor="let option of tableStyle.optionMax;" class="cursor-pointer " appIcon
                [iconName]="option.icon + ' table'"
                [iconColor]="option.color"
                (click)="eventRunOption({value: dataSource.value, type: option.type})"></span>
                </td>
              </tr>
              <tr class="border-b ">
                <td
                  class="px-3 lg:px-6 py-2 lg:py-4 whitespace-nowrap text-sm font-medium text-gray-400 hidden lg:table-cell"></td>
                <td class="text-sm text-gray-400 font-light p-0 whitespace-nowrap">
                  <p class="block px-3 lg:hidden">Atributo</p>
                  <app-table-standar
                    [dataSource]="dataSource.datasource!"
                    [columns]="tableStyle.columns"
                    [options]="tableStyle?.optionsStander!"
                    [showPagination]="false"
                    [showBorder]="false"
                    [showResponsive]="false"
                    (dataReturn)="eventRunOption($event)"
                  ></app-table-standar>
                </td>
                <td
                  class="text-sm text-center text-gray-400 font-light px-3 lg:px-6 py-2 lg:py-4 whitespace-nowrap flex justify-center space-x-4 hidden lg:table-cell">
                </td>
              </tr>
              <tr class="lg:hidden">
                <td class="text-sm text-gray-400 font-light px-0 lg:px-0 py-2 lg:py-4 lg:mx-0  flex justify-center">
                  <span *ngFor="let option of tableStyle.optionMax;" class="cursor-pointer " appIcon
                        [iconName]="option.icon + ' table'"
                        [iconColor]="option.color"
                        (click)="eventRunOption({value: dataSource.value, type: option.type})"
                  ></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
      <div>
        <app-pagination (valueMax)="rangeMax=$event" (valueMin)="rangeMin=$event"
                        [sizeElement]="tableStyle?.dataSources?.length!"></app-pagination>
      </div>
    </div>


  </div>
</div>

