<app-layout [typeButton]="2">
  <ng-container layoutBody>
    <div class="ec-container pb-12 bg-white" style="min-height: calc(100vh - 3rem)">
      <div class="flex w-full">
        <div class="w-full">
          <app-step [StyleStep]="styleCrud">
            <ng-container step>
              <div class="w-full space-y-8">
                <app-basic-information [user]="userSelect" *ngIf="styleCrud.dataSourceStep[0].status === 'Active'"></app-basic-information>
                <app-role *ngIf="styleCrud.dataSourceStep[1].status === 'Active'"></app-role>
                <app-security-entities *ngIf="styleCrud.dataSourceStep[2].status === 'Active'"></app-security-entities>


              </div>
            </ng-container>
          </app-step>
        </div>
      </div>
    </div>
    <!--<app-footer></app-footer>-->
  </ng-container>
</app-layout>

<div class="fixed top-0 z-50 bg-black  w-screen h-screen flex items-center justify-center"
     style="background: rgba(20,20,20,0.6)" *ngIf="false">
  <div class="p-4 flex bg-white rounded border border-solid border-mono-30">
    <div>
      <img src="assets/img/spiner.svg" class="animate-spin" alt="spiner">
    </div>
    <div class="t-h5 ml-4 text-black">
      <span>
        Cargando...
      </span>
    </div>
  </div>
</div>
