<div class="p-4 space-y-4">
  <span class="text-lg text-mono-70">Cambiar Contraseña</span>
  <div class="w-full">
    <form [formGroup]="formPassword" class="w-full grid md:grid-cols-2 gap-4">
      <div class="space-y-1 w-full">

        <label class="text-mono-70">Constraseña</label>
        <div class="relative flex w-full flex-wrap items-stretch mb-3">

          <input formControlName="password" type="{{showPassword?'text':'password'}}" class="px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-mono-10 rounded text-sm border border-mono-10 outline-none focus:outline-none focus:ring w-full pr-10"/>
          <span class="z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
    <span *ngIf="!showPassword" appIcon iconColor="text-alert-info" iconName="eye hide" (click)="showPassword=!showPassword"></span>
              <span *ngIf="showPassword" appIcon iconColor="text-alert-info" iconName="eye show" (click)="showPassword=!showPassword"></span>
  </span>
        </div>
        <div
          *ngIf="formPassword.get('password')?.dirty && (formPassword.get('password')?.errors || formPassword.get('password')?.touched)"
          class="text-xs text-alert-error">
          <span *ngIf="formPassword.get('password')?.hasError('maxlength')">La longitud máxima excedida(50)</span>
          <span *ngIf="formPassword.get('password')?.hasError('minlength')">La longitud minima excedida(6)</span>
          <span *ngIf="formPassword.get('password')?.hasError('required')">El descripción es requerido</span>
        </div>
      </div>
      <div class="space-y-1 w-full">

        <label class="text-mono-70">Confirmar Contraseña</label>
        <div class="relative flex w-full flex-wrap items-stretch mb-3">

          <input formControlName="password_confirm" type="{{showPasswordConfirm?'text':'password'}}" class="px-3 py-3 placeholder-slate-300 text-slate-600 relative bg-mono-10 rounded text-sm border border-mono-10 outline-none focus:outline-none focus:ring w-full pr-10"/>
          <span class="z-10 h-full leading-snug font-normal absolute text-center text-slate-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3">
    <span *ngIf="!showPasswordConfirm" appIcon iconColor="text-alert-info" iconName="eye hide" (click)="showPasswordConfirm=!showPasswordConfirm"></span>
              <span *ngIf="showPasswordConfirm" appIcon iconColor="text-alert-info" iconName="eye show" (click)="showPasswordConfirm=!showPasswordConfirm"></span>
  </span>
        </div>
        <div
          *ngIf="formPassword.get('password_confirm')?.dirty && (formPassword.get('password_confirm')?.errors || formPassword.get('password_confirm')?.touched)"
          class="text-xs text-alert-error">
          <span *ngIf="formPassword.get('password_confirm')?.hasError('maxlength')">La longitud máxima excedida(50)</span>
          <span *ngIf="formPassword.get('password_confirm')?.hasError('minlength')">La longitud minima excedida(6)</span>
          <span *ngIf="formPassword.get('password_confirm')?.hasError('required')">El descripción es requerido</span>
        </div>
        <div class="text-xs text-alert-error"
             *ngIf="formPassword?.errors?.notEqualPassword&&formPassword.get('password_confirm')?.dirty&&!formPassword.get('password')?.hasError('required')">
          <span>La contraseña no coincide.</span>
        </div>
      </div>
    </form>
  <div class="flex w-full space-x-4 md:w-1/4 mt-4">
    <app-button type="button" label="Guardar"
                brColor="border-blue-600"
                bgColor="bg-transparent"
                txtColor="text-blue-600" class="h-12 w-full" (click)="saveForm()"></app-button>
  </div>
</div>
</div>
