<div class="p-4 space-y-4">
  <span class="text-lg text-mono-70">{{'CHANGE PASSWORD'|translate}}</span>
  <div class="w-full">
    <form [formGroup]="formPassword" class="w-full">
      <div class="flex space-x-4 w-full">
        <ec-input-password label="{{'PASSWORD'|translate}}"
                           bgContainerColor="bg-mono-10"
                           brContainerColor="border-outline-gray-50"
                           txtColor="text-mono-70"
                           formControlName="password"
                           class="w-full"
        ></ec-input-password>
        <ec-input-password label="{{'CONFIRM_PASSWORD'|translate}}"
                           bgContainerColor="bg-mono-10"
                           brContainerColor="border-outline-gray-50"
                           txtColor="text-mono-70"
                           formControlName="password_confirm"
                           class="w-full"
        ></ec-input-password>
      </div>
    </form>
  <div class="flex w-full space-x-4 md:w-1/4 mt-4">
    <app-button type="button" label="{{'SAVE'|translate}}"
                brColor="border-blue-600"
                bgColor="bg-transparent"
                txtColor="text-blue-600" class="h-12 w-full" (click)="saveForm()"></app-button>
  </div>
</div>
</div>
