<div class="p-4 space-y-4">
  <span class="text-lg text-mono-70">Cambiar Contraseña</span>
  <div class="lg:flex lg:space-x-4">
    <div class="space-y-2 w-full">
      <span class="text-mono-70">Contraseña</span>
      <input formControlName="password" type="password"
             class="h-12 bg-mono-10 border border-mono-10 text-gray-900 text-sm rounded-md focus:ring-mono-10 focus:border-mono-10 block w-full p-2.5 dark:bg-mono-10 dark:border-mono-10 dark:placeholder-mono-70 dark:text-mono-70 dark:focus:ring-mono-10 dark:focus:border-none outline-none"
             required>
    </div>
    <div class="space-y-2 w-full">
      <span class="text-mono-70">Confirmar Contraseña</span>
      <input formControlName="password_comfirm" type="password"
             class="h-12 bg-mono-10 border border-mono-10 text-gray-900 text-sm rounded-md focus:ring-mono-10 focus:border-mono-10 block w-full p-2.5 dark:bg-mono-10 dark:border-mono-10 dark:placeholder-mono-70 dark:text-mono-70 dark:focus:ring-mono-10 dark:focus:border-none outline-none"
             required>
    </div>
  </div>
  <div class="flex w-full space-x-4 md:w-1/4 mt-4">
    <app-button type="button" label="Guardar"
                brColor="border-blue-600"
                bgColor="bg-transparent"
                txtColor="text-blue-600" class="h-12 w-full" (click)="saveForm()"></app-button>
  </div>
</div>
