<div class="space-y-8 py-4">
  <div >
    <div class="text-2xl text-black">{{isEdit?'Editar':'Crear'}} Calendario</div>
  </div>
  <div class="flex-grow space-y-4" [formGroup]="formCalendar">
    <div class="flex flex-col flex-1 space-y-1">
      <label>Nombre</label>
      <input class="input-style" type="text" formControlName="name">
      <span *ngIf="formCalendar.get('name')?.hasError('required') && formCalendar.get('name')?.touched" class="text-alert-error text-xs">Campo requerido</span>
    </div>
    <div class="flex grid-cols-2 space-x-4">
      <div class="flex flex-col flex-1 space-y-1">
        <label>Fecha inicio</label>
        <mat-form-field appearance="fill">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="dp1" formControlName="start_date">
          <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
          <mat-datepicker #dp1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex flex-col flex-1 space-y-1">
        <label>Fecha Final</label>
        <mat-form-field appearance="fill">
          <mat-label>MM/DD/YYYY</mat-label>
          <input matInput [matDatepicker]="dp2" formControlName="end_date">
          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
          <mat-datepicker #dp2></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="w-1/4">
    <app-button (click)="saveForm()"
                  type="button" label="Guardar"
                 brColor="bg-brand-1"
                 bgColor="bg-brand-1"
                 txtColor="text-white" class="h-12 w-full whitespace-nowrap"></app-button>
  </div>
</div>
<app-block-page [show]="isBlockPage"></app-block-page>
