<div class="min-w-full inline-block" [ngClass]="showResponsive ?'hidden lg:block':''">
  <table class="min-w-full  bg-transparent w-full border-collapse">
    <thead >
    <tr class="border-b border-black" >
      <th scope="col" class="text-xs lg:text-sm font-medium text-gray-900 px-3 lg:px-6 py-2 lg:py-4 text-left text-brand-2 w-1">
        N°
      </th>
      <ng-container *ngFor="let column of columns; index as i">
        <th scope="col" class="text-xs lg:text-sm font-medium text-gray-900 px-3 lg:px-6 py-2 lg:py-4 text-left text-brand-2 "
            [ngClass]="(i+1) === columns.length ? 'text-sm font-medium text-gray-900 px-3 lg:px-6 py-2 lg:py-4 text-center text-brand-2 w-4' : ''">
          {{ column.label }}
        </th>
      </ng-container>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSource | filter: filterTerm; index as index" class="{{!showBorder?'border-none':'border-b border-black'}} ">
      <ng-container *ngIf="index+1 >= rangeMin+1 && index+1 <= rangeMax">
        <td class="px-3 lg:px-6 py-2 lg:py-4 whitespace-nowrap text-sm font-medium text-gray-400">{{ index + 1 }}</td>
        <ng-container *ngFor="let key of Object.values(data)">
          <td *ngIf="Object(key) !== key" class="text-sm text-mono-70 font-normal font-light px-3 lg:px-6 py-2 lg:py-4">
            {{key}}
          </td>
        </ng-container>
        <td class="text-sm text-center text-gray-400 font-light px-3 lg:px-6 py-2 lg:py-4 whitespace-nowrap flex content-center">
          <span *ngFor="let option of options;" class="cursor-pointer px-2" appIcon [iconName]="option.icon + ' table'"
                [iconColor]="option.color" (click)="eventRunOption({value: data.value, type: option.type})"></span>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
  <div *ngIf="showPagination">
    <app-pagination (valueMax)="rangeMax=$event" (valueMin)="rangeMin=$event"
                    [sizeElement]="dataSource.length"></app-pagination>
  </div>
</div>

<div class="grid space-y-4" [ngClass]="showResponsive ?'lg:hidden':'hidden'">
  <div *ngFor="let data of dataSource| filter: filterTerm; index as index" class="border p-4 shadow">
    <table class="min-w-full text-center">
      <thead>
      <tr>
        <th scope="col"
            class="text-sm font-medium text-gray-900 px-6 py-4 text-left text-brand-2 border-b border-mono-70">
          N° {{ index + 1}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let column of columns; index as i;">
        <td *ngIf="(i + 1) !== columns.length" class="px-6 py-2 grid whitespace-nowrap text-sm block text-left text-mono-70">
          <span>{{column.label}}</span>
          <span>{{ Object.values(data)[i+1] }}</span>
        </td>
      </tr>
      <tr>
        <td
          class="text-sm text-center text-gray-400 font-light sm:px-2 md:px-12 py-4 whitespace-nowrap flex  justify-between border">
          <span *ngFor="let option of options;" class="cursor-pointer" appIcon [iconName]="option.icon + ' table'"
                [iconColor]="option.color" (click)="eventRunOption({value: data.value, type: option.type})"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
