<div class="ec-container py-6 md:py-12 bg-white dark:bg-black space-y-6">
  <div class="flex flex-col space-y-2 w-full">
    <span class="t-h5 text-black dark:text-white">Autoname a Tipo Documental</span>
    <div>
      <div class="flex flex-row space-x-2">
        <div class="bg-brand-2 rounded-sm w-2"></div>
        <div class="w-full text-mono-70 py-1">
          <span>Puedes agregar autonames a la lista mediante el tipo documental, texto y atributos.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="list flex flex-col space-y-2">
    <span class="t-caption-2 text-mono-70 dark:text-mono-30">Lista de Autoname's</span>
    <div class="w-full flex flex-row flex-wrap pt-4 pl-4 rounded bg-mono-10 dark:bg-mono-100">
      <span *ngIf="autonames.length <= 0" class="t-body-1 mb-4 mr-4 text-mono-70 dark:text-mono-30">Lista vacía</span>
      <button *ngFor="let autoname of autonames; let position = index" class="b-solid mb-4 mr-4 px-2 h-8 flex flex-row space-x-2 items-center">
        <span>{{autoname}}</span>
        <div><svg class="fill-current" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.39705 2.55379L2.46967 2.46967C2.73594 2.2034 3.1526 2.1792 3.44621 2.39705L3.53033 2.46967L8 6.939L12.4697 2.46967C12.7626 2.17678 13.2374 2.17678 13.5303 2.46967C13.8232 2.76256 13.8232 3.23744 13.5303 3.53033L9.061 8L13.5303 12.4697C13.7966 12.7359 13.8208 13.1526 13.6029 13.4462L13.5303 13.5303C13.2641 13.7966 12.8474 13.8208 12.5538 13.6029L12.4697 13.5303L8 9.061L3.53033 13.5303C3.23744 13.8232 2.76256 13.8232 2.46967 13.5303C2.17678 13.2374 2.17678 12.7626 2.46967 12.4697L6.939 8L2.46967 3.53033C2.2034 3.26406 2.1792 2.8474 2.39705 2.55379L2.46967 2.46967L2.39705 2.55379Z"/>
        </svg>
        </div>
      </button>
    </div>
    <div class="flex flex-col space-y-2 lg:flex-row lg:space-y-0 lg:justify-between">
      <div class="flex flex-col pt-2">
        <span class="t-caption-2 text-mono-70 dark:text-mono-30">Vista previa del autoname</span>
        <span class="t-body-1 text-black dark:text-white">doctype</span>
      </div>
      <div class="flex flex-col space-y-2 md:pt-2 md:flex-row md:space-y-0 lg:space-x-2 md:justify-between">
        <div>
          <button class="w-full md:w-auto h-10 hover:bg-alert-error hover:text-white px-4 rounded disabled:text-mono-30 text-alert-error">Borrar toda la lista</button>
        </div>
        <div class="pt-2 md:p-0">
          <button class="b-outline w-full md:w-auto">Agregar Tipo Documental</button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col space-y-6 md:flex-row md:space-y-0 md:border-t md:border-mono-30">
    <div class="pt-6 md:pr-4 flex-1 border-t md:border-t-0 md:border-r border-mono-30 space-y-4">
      <span class="t-body-1 text-black dark:text-white">Agregar Texto Fijo</span>
      <div class="flex flex-col space-y-1">
        <label class="t-caption-2 text-mono-70 dark:text-mono-30">Autoname</label>
        <input type="text" class="ec-input">
      </div>
      <button class="b-outline w-full md:auto">Agregar a la lista</button>
    </div>
    <div class="pt-6 md:pl-4 flex-1 border-t md:border-t-0 border-mono-30 space-y-4">
      <span class="t-body-1 text-black dark:text-white">Agregar Atributo</span>
      <div class="flex flex-col space-y-4 lg:flex-row lg:space-y-0 lg:space-x-4">
        <div class="flex lg:flex-1 flex-col space-y-1">
          <label class="t-caption-2 text-mono-70 dark:text-mono-30">Entidad</label>
          <select type="text" class="ec-input"></select>
        </div>
        <div class="flex lg:flex-1 flex-col space-y-1">
          <label class="t-caption-2 text-mono-70 dark:text-mono-30">Atributo</label>
          <select type="text" class="ec-input"></select>
        </div>
      </div>
      <button class="b-outline w-full">Agregar a la lista</button>
    </div>
  </div>
  <div class="w-full pt-6 lg:pt-12 flex flex-row justify-end space-x-2">
    <button class="b-outline flex-1 md:flex-none">Cancelar</button>
    <button class="b-solid flex-1 md:flex-none">Guardar</button>
  </div>
</div>

<app-block-page [show]="isBlockPage"></app-block-page>
<ec-toast [toastStyle]="toastStyle"></ec-toast>
<!--
<div class="p-grid p-justify-center" style="margin-top: 10px;">
  <p-card header="Autoname - {{ doctype.name }}" class="p-col-12 p-md-12 p-lg-7">
    <br />
    <div class="p-col-12 p-md-12 p-lg-12">
      <form [formGroup]="autonameForm">
        <div class="p-grid p-justify-center">
          <div class="p-col-12 p-md-11 p-lg-11 p-grid p-justify-center">
            <p-chips [(ngModel)]="selectedKey" formControlName="auto_name"></p-chips>
          </div>
          <div class="p-col-12 p-md-1 p-lg-1 p-grid p-justify-start">
            <a
              pButton
              icon="pi pi-trash"
              (click)="cancel()"
              class="ui-button-danger"
              style="background-color: transparent; color: #c01120; border-color: transparent;"
            ></a>
          </div>
        </div>
        <div class="p-col-12 p-md-12">
          <button
            pButton
            icon="pi pi-eye"
            (click)="verAutoname()"
            label="Autoname"
            appBtnPrimary
            btnType="unfilled"
            class="btn-new-attribute"
          ></button>
          <label style="margin-left: 8px; margin-top: 5px;">{{ viewAutoname }}</label>
        </div>
      </form>
    </div>
    <hr />
    <br />
    <div class="p-grid p-justify-center">
      <div class="p-col-12 p-md-12 p-lg-6">
        <label style="margin-top: 5px;">Agregar Tipo Documental: </label>
        <br />
        <button
          style="margin-top: 3px; width: max-content;"
          pButton
          icon="pi pi-plus"
          (click)="docty()"
          label="Tipo Documental"
          appBtnPrimary
          btnType="unfilled"
          class="btn-new-attribute"
        ></button>
      </div>
      <div class="p-col-12 p-md-12 p-lg-6">
        <label style="margin-top: 5px;">Agregar Texto al Autoname: </label>
        <br />
        <input
          style="margin-top: 3px;"
          [ngClass]="{ 'ce-width-full': true }"
          pInputText
          type="text"
          placeholder="Ingresar texto"
          #box
          (keyup.enter)="onEnter(box.value); box.value = ''"
          name="inputValue"
          pTooltip="Enter para agregar"
          tooltipPosition="top"
        />
      </div>
    </div>
    <br />
    <div class="p-grid p-justify-center">
      <div class="p-col-12 p-md-12 p-lg-12">
        <label style="margin-top: 5px;">Agregar Atributos al Autoname: </label>
      </div>
      <div class="p-col-12 p-md-12 p-lg-6">
        <p-dropdown
          [styleClass]="'ce-width-full'"
          [options]="entitiesList"
          optionLabel="name"
          placeholder="Seleccione Entidad"
          (onChange)="selectedEntity($event.value)"
          [showClear]="true"
          [(ngModel)]="selectEntites"
        ></p-dropdown>
      </div>
      <div class="p-col-12 p-md-12 p-lg-6">
        <p-dropdown
          [styleClass]="'ce-width-full'"
          [options]="listAttribut"
          optionLabel="name"
          [showClear]="true"
          placeholder="Atributos"
          (onChange)="selectedAtribute($event.value)"
          [(ngModel)]="selectAtributo"
        ></p-dropdown>
      </div>
    </div>
    <div class="p-col-12 p-md-12 p-lg-12" *ngIf="optionsDescription">
      <div class="p-col-12">
        <p-radioButton
          name="group1"
          [value]="optionsDescription"
          [(ngModel)]="dataAttrib"
          label="Descripción"
          (click)="dataAtribute()"
          inputId="opt2"
        ></p-radioButton>
      </div>
      <div class="p-col-12">
        <p-radioButton
          name="group1"
          label="Valor"
          [(ngModel)]="dataAttrib"
          [value]="optionsValue"
          inputId="opt3"
          (click)="dataAtribute()"
        ></p-radioButton>
      </div>
    </div>
    <br />
    <hr />
    <p-footer>
      <div class="justify">
        <button
          type="button"
          pButton
          icon="pi pi-times"
          label="Cancelar"
          (click)="cancelAutoname()"
          class="ui-button-secondary margin-element-right"
        ></button>
        <button
          pButton
          icon="pi pi-plus"
          (click)="saveAutoname()"
          label="Guardar"
          appBtnPrimary
          btnType="unfilled"
          class="btn-new-attribute"
        ></button>
      </div>
    </p-footer>
  </p-card>
</div>
-->


