<div class="w-full grid space-y-8">
  <div class="w-full flex justify-center py-4">
    <div style='display: flex; justify-content: center;'>
      <p-pickList
        [dragdrop]='true'
        [responsive]='true'
        filterBy='value'
        [source]='rolesAvailables'
        [target]='rolesSelected'
        sourceHeader=''
        targetHeader=''
        [showSourceControls]="false"
        [showTargetControls]="false"
        [sourceStyle]="{
        width: '300px',
        height: '300px',
        border: 'none',
        background: '#ffffff',
        color: '#E3E4E7'
        }"
        [targetStyle]="{
        width: '300px',
         height: '300px',
        border: 'none',
        background: '#ffffff',
        color: '#E3E4E7'
        }"
        (onMoveToTarget)='onMoveToSelected($event.items)'
        (onMoveToSource)='onMoveToAvailable($event.items)'
        (onMoveAllToTarget)="onMoveToSelected($event.items)"
        (onMoveAllToSource)="onMoveToAvailable($event.items)"
      >
        <ng-template let-role pTemplate='item'>
          <div class='ui-helper-clearfix'>
            <div style='margin: 2px 2px 0 0;'>{{ role?.role_allow.name }}</div>
          </div>
        </ng-template>
      </p-pickList>
    </div>
  </div>
  <div class="flex space-x-4 w-1/4">
    <app-button type="button" label="{{'PREVIOUS'|translate}}"
                brColor="border-brand-1"
                bgColor="bg-transparent"
                txtColor="text-brand-1" class="h-12 w-full" (click)="backStep(1)"></app-button>
    <app-button [disabled]="SubjectsRoles.length === 0"
                type="button" label="{{'NEXT'|translate}}"
                brColor="border-brand-1"
                bgColor="bg-brand-1"
                txtColor="text-white" class="h-12 w-full" (click)="nextStep(1)"></app-button>
  </div>
</div>

<app-block-page [show]="isBlockPage"></app-block-page>
