<div class="w-full space-y-12 py-6 flex-1">
  <div class="flex {{StyleStep.style?.size}} justify-between">
    <div style="white-space: nowrap" class="w-full hidden lg:block" *ngFor="let data of StyleStep.dataSourceStep; index as i ">
        <div style="white-space: nowrap" *ngIf="data.focus" class="mb-2 flex space-x-4 p-2  hover:bg-mono-10 cursor-pointer " (click)="changeUbication(i)">
          <div class="w-10 h-10 bg-brand-2 rounded-full text-lg text-white flex items-center ">
            <span class="text-center font-bold text-mono-10 w-full">
              {{ i + 1 }}
            </span>
          </div>
          <div class="flex align-center text-brand-2 items-center  content-center" >
            <span>{{ data.title }}</span>
          </div>
        </div>
      <div style="white-space: nowrap" *ngIf="data.status === 'Pending' && !data.focus" class="mb-2 flex space-x-4 p-2 hover:bg-mono-10 cursor-pointer " (click)="changeUbication(i)">
        <div class="w-10 h-10 bg-mono-10 rounded-full text-lg text-white flex items-center">
            <span class="text-center font-bold text-mono-30 w-full">
              {{ i + 1}}
            </span>
        </div>
        <div class="flex align-center text-brand-2 items-center  content-center" >
          <span>{{ data.title }}</span>
        </div>
      </div>
      <div *ngIf="data.status === 'Completed' && !data.focus" class="mb-2 flex space-x-4 cursor-pointer hover:bg-mono-10 p-2" (click)="changeUbication(i)">
        <div class="w-10 h-10 bg-transparent rounded-full text-lg text-white flex items-center border-2 border-brand-2">
            <span class="text-center font-bold text-brand-2 w-full">
              {{ i + 1 }}
            </span>
        </div>
        <div class="flex align-center text-brand-2 items-center  content-center" >
          <span>{{ data.title }}</span>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let data of StyleStep.dataSourceStep; index as i " >
      <div *ngIf="data.focus" class="flex space-x-4 items-center lg:hidden">
        <circle-progress
          [percent]="25"
          [radius]="30"
          [outerStrokeWidth]="6"
          [innerStrokeWidth]="5"
          [outerStrokeColor]="'#00263E'"
          [innerStrokeColor]="'#595B5D'"
          [animation]="true"
          [animationDuration]="600"
          [toFixed]="0"
          [space]="-6"
          [showInnerStroke]="true"
          [showSubtitle]="false"
          [showUnits]="false"
          title="1/4"
          [titleColor]="'##00263E'"
        ></circle-progress>
        <div class="w-full">
          <h1 style="white-space: nowrap" class="sm:text-lg text-clip overflow-hidden md:text-2xl text-indigo-50">{{data.title}}</h1>
          <span style="white-space: nowrap" class="text-sm text-mono-70">{{(i+1) === StyleStep.dataSourceStep.length ? 'Anterior' : 'Sigue'}}: {{StyleStep.dataSourceStep[(i+1) === StyleStep.dataSourceStep.length ? (i-1) : (i+1)].title}}</span>
        </div>
      </div>

    </ng-container>

  </div>
  <div class="Step z-0">
    <ng-content select="[step]"></ng-content>
  </div>
</div>


