<div class="my-4">
  <button type="button" class="b-solid" (click)="backTasksEvent()">{{'BACK' | translate}}</button>
</div>

<perfect-scrollbar>
  <p-tree
    [value]="treeData"
    layout="vertical"
    [style]="{
      margin: 'areSomeExecs' ? '1em 1em 1em 1em' : '0em 1em 1em 1em',
      width: 'calc(100% - 2em)',
      overflow: 'auto',
      height: showForm ? '30vh' : '70vh'
    }"
    selectionMode="single"
    [(selection)]="node"
    [contextMenu]="cm"
    (click)="selectNode()"
  >
    <ng-template let-node pTemplate="default">
      <div class="node-container">
        <span class="ui-treenode-icon" [class]="node['data'].icon"></span>
        <span>{{ node['label'] }}</span>
        <span
          class="pi pi-circle-on on-status-icon"
          *ngIf="node['data']['status'] !== null && node['data']['status']"
          pTooltip="Activo"
        ></span>
        <span
          class="pi pi-circle-off off-status-icon"
          *ngIf="node['data']['status'] !== null && !node['data']['status']"
          pTooltip="Inactivo"
        ></span>
      </div>
    </ng-template>
  </p-tree>
</perfect-scrollbar>

<div *ngIf="showForm">
  <perfect-scrollbar>
    <div class="flex justify-end" style="margin: 0.3em 1em 0 0;">
      <i class="pi pi-times cursor-pointer" (click)="showForm = false"></i>
    </div>
    <div class="side-form">
      <app-activity-form
        #actForm
        [docTypes]="docTypes"
        [roles]="roles"
        [activities]="activities"
        [isCreate]="isCreate"
        [rule]="currentRule"
        [entities]="entities"
        (ruleSaved)="manageRuleSaved($event)"
      ></app-activity-form>
    </div>
  </perfect-scrollbar>
</div>

<app-block-page [show]="isBlockPage"></app-block-page>

<p-contextMenu #cm appendTo="body" [model]="menuItems" (onShow)="onContextMenu(node)"></p-contextMenu>
<ec-toast [toastStyle]="toastStyle"></ec-toast>
<p-confirmDialog
  #cd
  appendTo="body"
  icon="pi pi-exclamation-triangle"
  [style]="{ width: '40em' }"
  [transitionOptions]="'0ms'"
>
  <p-footer *ngIf="isDeleteDialog">
    <div class="w-full flex gap-4 items-center">
      <button type="button" class="b-outline" (click)="cd.reject()">{{'CANCEL' | translate}}</button>
      <button type="button" class="b-solid" (click)="cd.accept()">{{'DELETE' | translate}}</button>
    </div>
  </p-footer>
  <p-footer *ngIf="isAnnounceDialog">
    <button type="button" class="b-solid" (click)="cd.accept()">{{'ACCEPT' | translate}}</button>
  </p-footer>
</p-confirmDialog>
