<!--Parameters - Create-->
<app-layout>
  <ng-container layoutBody>
    <div class="ec-container py-6 md:py-12 bg-white dark:bg-black">
      <div class="flex flex-col lg:items-center space-y-12">
        <span class="t-h5 text-black dark:text-white">Crear Parametro</span>
        <form [formGroup]="formParameter" class="space-y-4 grid grid-cols-2 gap-4 lg:w-2/3">
          <div class="input flex flex-col space-y-1 col-span-2">
            <label class="t-caption-2 text-mono-70">Name</label>
            <input class="ec-input" type="text" formControlName="name">
          </div>
          <div class="input flex flex-col col-span-2 space-y-1">
            <label class="t-caption-2 text-mono-70">Value</label>
            <input class="ec-input" type="text" formControlName="value">
          </div>
          <div class="input flex flex-col col-span-2 space-y-1">
            <label class="t-caption-2 text-mono-70">Type</label>
            <input class="ec-input" type="text" formControlName="type">
          </div>
          <div class="input flex flex-col col-span-2 space-y-1">
            <label class="t-caption-2 text-mono-70">Description</label>
            <input class="ec-input" type="text" formControlName="description">
          </div>
          <div class="input flex flex-col col-span-2 space-y-1">
            <label class="t-caption-2 text-mono-70">Client_id</label>
            <input class="ec-input" type="number" formControlName="client_id">
          </div>
          <div class="input flex flex-col col-span-2 space-y-1">
            <label class="t-caption-2 text-mono-70">is_cipher</label>
            <div class="flex gap-4 items-center">
              <div class="flex gap-4 items-center">
                <label class="t-caption-2 text-mono-70">verdadero</label>
                <input class="ec-input" type="radio" name="is_cipher" formControlName="is_cipher" [value]="true">
              </div>
              <div class="flex gap-4 items-center">
                <label class="t-caption-2 text-mono-70">falso</label>
                <input class="ec-input" type="radio" name="is_cipher" formControlName="is_cipher" [value]="false">
              </div>
            </div>
          </div>

        </form>
        <div class="flex flex-row space-x-4 lg:w-2/3">
          <button routerLink="/admin/parameters/list" class="flex-1 md:flex-none b-outline">Cancelar</button>
          <button class="flex-1 md:flex-none b-solid" (click)="createParameter()">Guardar</button>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </ng-container>
</app-layout>
<app-block-page [show]="showBlockPage"></app-block-page>
<ec-toast [toastStyle]="toastStyle"></ec-toast>

