<app-layout>
  <ng-container layoutBody>
    <!--Step 2-->
    <div class="ec-container py-6 md:py-12 bg-white dark:bg-black">
      <div class="flex flex-col space-y-12 lg:items-center">
        <div class="flex flex-col space-y-6 lg:w-2/3">
          <span class="t-h5 text-black dark:text-white">Crear Usuario</span>
          <div class="flex flex-row space-x-2 items-start">
            <div class="relative">
              <div class="absolute left-0 top-0">
                <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path class="text-mono-30 dark:text-mono-70" d="M64 32C64 49.6731 49.6731 64 32 64C14.3269 64 0 49.6731 0 32C0 14.3269 14.3269 0 32 0C49.6731 0 64 14.3269 64 32ZM3.2 32C3.2 47.9058 16.0942 60.8 32 60.8C47.9058 60.8 60.8 47.9058 60.8 32C60.8 16.0942 47.9058 3.2 32 3.2C16.0942 3.2 3.2 16.0942 3.2 32Z"/>
                  <path class="text-brand-2" d="M32 0C26.3828 -6.69841e-08 20.8646 1.4786 16 4.28719C11.1354 7.09577 7.09577 11.1354 4.28719 16C1.4786 20.8646 -1.7855e-07 26.3828 0 32C1.7855e-07 37.6172 1.4786 43.1354 4.28719 48C7.09577 52.8646 11.1354 56.9042 16 59.7128C20.8646 62.5214 26.3828 64 32 64C37.6172 64 43.1354 62.5214 48 59.7128C52.8646 56.9042 56.9042 52.8646 59.7128 48L56.9415 46.4C54.4138 50.7782 50.7782 54.4138 46.4 56.9415C42.0218 59.4693 37.0555 60.8 32 60.8C26.9445 60.8 21.9782 59.4693 17.6 56.9415C13.2218 54.4138 9.5862 50.7782 7.05847 46.4C4.53074 42.0218 3.2 37.0555 3.2 32C3.2 26.9445 4.53074 21.9782 7.05847 17.6C9.5862 13.2218 13.2218 9.5862 17.6 7.05847C21.9782 4.53074 26.9445 3.2 32 3.2L32 0Z"/>
                </svg>
              </div>
              <div class="flex items-center justify-center" style="width: 64px; height: 64px;">
                <span class="text-black dark:text-white t-button-1">2/3</span>
              </div>
            </div>
            <div class="flex flex-1 flex-col">
              <span class="text-black dark:text-white t-h5">Roles</span>
              <span class="text-mono-70 dark:text-mono-30 t-caption-1">Sigue: Entidad de Seguridad</span>
            </div>
          </div>
        </div>
        <div class="data flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-4">
          <div class="data-A flex-1 space-y-1">
            <span class="t-caption-2 text-mono-70">Roles Disponibles</span>
            <div class="rounded bg-mono-10 p-3 space-y-2">
              <div><input class="w-full h-10 px-2 rounded t-body-2 border border-mono-30 text-black" type="text" placeholder="Buscar"></div>
              <div class="flex flex-col space-y-2 overflow-y-auto" style="max-height: 240px;">
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 text-black">Rol 1</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 text-black">Rol 2</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 3</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 4</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 5</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 6</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 7</label>
                </div>
              </div>
            </div>
          </div>
          <div class="flex pt-7 flex-row md:flex-col md:space-x-0 md:space-y-2 md:w-12 space-x-2">
            <button class="b-solid flex-1">
              <div class="transform md:-rotate-90"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.543 5.73271C14.8287 6.03263 14.8172 6.50737 14.5172 6.79306L9.26678 11.7944C8.97711 12.0703 8.52187 12.0703 8.2322 11.7944L2.98173 6.79306C2.68181 6.50737 2.67028 6.03263 2.95597 5.73271C3.24166 5.43279 3.71639 5.42125 4.01631 5.70694L8.74949 10.2155L13.4827 5.70694C13.7826 5.42125 14.2573 5.43279 14.543 5.73271Z" fill="#F4F5F6"/>
              </svg>
              </div>
            </button>
            <button class="b-solid flex-1">
              <div class="transform md:-rotate-90"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.044 7.23271C14.3297 7.53263 14.3181 8.00737 14.0182 8.29306L8.76776 13.2944C8.47809 13.5703 8.02285 13.5703 7.73318 13.2944L2.48271 8.29306C2.18279 8.00737 2.17125 7.53263 2.45694 7.23271C2.74264 6.93279 3.21737 6.92125 3.51729 7.20694L8.25047 11.7155L12.9836 7.20694C13.2836 6.92125 13.7583 6.93279 14.044 7.23271Z" fill="#F4F5F6"/>
                <path d="M14.044 2.23271C14.3297 2.53263 14.3181 3.00737 14.0182 3.29306L8.76776 8.29439C8.47809 8.57032 8.02285 8.57032 7.73318 8.29439L2.48271 3.29306C2.18279 3.00737 2.17125 2.53263 2.45694 2.23271C2.74264 1.93279 3.21737 1.92125 3.51729 2.20694L8.25047 6.71553L12.9836 2.20694C13.2836 1.92125 13.7583 1.93279 14.044 2.23271Z" fill="#F4F5F6"/>
              </svg>
              </div>
            </button>
            <button class="b-solid flex-1">
              <div class="transform md:-rotate-90"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.95694 10.2673C2.67125 9.96736 2.68279 9.49263 2.98271 9.20693L8.23318 4.2056C8.52285 3.92968 8.97809 3.92968 9.26776 4.2056L14.5182 9.20693C14.8181 9.49263 14.8297 9.96736 14.544 10.2673C14.2583 10.5672 13.7836 10.5787 13.4836 10.293L8.75047 5.78446L4.01729 10.293C3.71737 10.5787 3.24264 10.5672 2.95694 10.2673Z" fill="#F4F5F6"/>
              </svg>
              </div>
            </button>
            <button class="b-solid flex-1">
              <div class="transform md:-rotate-90"><svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.45601 8.26862C2.17032 7.9687 2.18186 7.49397 2.48178 7.20828L7.73224 2.20694C8.02191 1.93102 8.47715 1.93102 8.76682 2.20694L14.0173 7.20828C14.3172 7.49397 14.3287 7.9687 14.0431 8.26862C13.7574 8.56855 13.2826 8.58008 12.9827 8.29439L8.24953 3.7858L3.51636 8.29439C3.21643 8.58008 2.7417 8.56855 2.45601 8.26862Z" fill="#F4F5F6"/>
                <path d="M2.45601 13.2686C2.17032 12.9687 2.18186 12.494 2.48178 12.2083L7.73224 7.20694C8.02191 6.93102 8.47715 6.93102 8.76682 7.20694L14.0173 12.2083C14.3172 12.494 14.3287 12.9687 14.0431 13.2686C13.7574 13.5685 13.2826 13.5801 12.9827 13.2944L8.24953 8.7858L3.51636 13.2944C3.21643 13.5801 2.7417 13.5685 2.45601 13.2686Z" fill="#F4F5F6"/>
              </svg>
              </div>
            </button>
          </div>
          <div class="data-B flex-1 space-y-1">
            <span class="t-caption-2 text-mono-70">Roles Seleccionados</span>
            <div class="rounded bg-mono-10 p-3 space-y-2">
              <div><input class="w-full h-10 px-2 rounded t-body-2 border border-mono-30 text-black" type="text" placeholder="Buscar"></div>
              <div class="flex flex-col space-y-2 overflow-y-auto" style="max-height: 240px;">
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 1</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 2</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 3</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 4</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 5</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 6</label>
                </div>
                <div class="flex-1 py-2 flex flex-row space-x-2 items-center">
                  <input class="w-4 h-4" type="checkbox">
                  <label class="t-body-2 flex-1 break-all text-black">Rol 7</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row-reverse space-y-4 md:space-y-0 lg:w-2/3">
          <div><button class="w-full md:flex-none b-solid">Siguiente</button></div>
          <div class="md:w-4"></div>
          <div class="flex flex-row space-x-4">
            <button routerLink="/wizard/bpmn" class="flex-1 md:flex-none b-ghost">Cancelar</button>
            <button class="flex-1 md:flex-none b-outline">Anterior</button>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </ng-container>
</app-layout>
