<!--ADD ATRIBUTE AUTOFILL-->
<app-layout>
  <ng-container layoutBody>
    <div class="ec-container pt-12 space-y-6 bg-white" style="min-height: calc(100vh - 3rem)">
      <div class="space-y-12">
        <div class="space-y-6">
          <div class="space-y-2">
            <div class="text-2xl text-black">Agregar Atributos a Autofill</div>
            <div>
              <div class="flex flex-row space-x-2">
                <div class="bg-brand-2 bg-brand-d-1 rounded-sm w-2"></div>
                <div class="w-full text-mono-70 py-1">
                  <span *ngIf="!containValues">Los atributos deshabilitados están siendo usados por otros autofill.</span>
                  <span *ngIf="containValues">No se puede modificar el autofill debido a que tiene registros asignados.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form>
          <div class="data space-y-4" cdkDropListGroup [cdkDropListGroupDisabled]="containValues == true">
            <div class="data-A space-y-1">
              <span class="t-caption-2 text-mono-70">Atributos Disponibles</span>
              <div class="rounded bg-mono-10 p-3 space-y-2">
                <div><input class="w-full h-10 px-2 rounded t-body-2 border border-mono-30 text-black" type="text"
                            placeholder="Buscar"></div>
                <div class="flex flex-col space-y-2 overflow-y-auto" style="max-height: 240px;"
                     cdkDropList
                     id="available"
                     #availableList="cdkDropList"
                     [cdkDropListConnectedTo]="[selectedList]"
                     [cdkDropListData]="attributesAvailable"
                     (cdkDropListDropped)="drop($event)">
                  <div *ngIf="attributesAvailable.length === 0"
                       class="flex-1 py-2 flex flex-row space-x-2 items-center"
                       cdkDrag>
                    <label class="t-body-2 text-black">No hay atributos disponibles.</label>
                  </div>
                  <div *ngFor="let attribute of attributesAvailable, let i = index"
                       cdkDrag
                       class="flex-1 py-2 flex flex-row space-x-2 items-center">
                    <input [disabled]="containValues == true"  class="w-4 h-4" type="checkbox" (change)="selectAtribute('available', i)">
                    <label class="t-body-2 text-black">{{attribute.description}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-row space-x-2">
              <button [disabled]="containValues == true" (click)="oneToSelected()" type="button" class="b-solid">
                <div>
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.543 5.73271C14.8287 6.03263 14.8172 6.50737 14.5172 6.79306L9.26678 11.7944C8.97711 12.0703 8.52187 12.0703 8.2322 11.7944L2.98173 6.79306C2.68181 6.50737 2.67028 6.03263 2.95597 5.73271C3.24166 5.43279 3.71639 5.42125 4.01631 5.70694L8.74949 10.2155L13.4827 5.70694C13.7826 5.42125 14.2573 5.43279 14.543 5.73271Z"
                      fill="#F4F5F6"/>
                  </svg>
                </div>
              </button>
              <button [disabled]="containValues == true" (click)="allToSelected()" type="button" class="b-solid">
                <div>
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.044 7.23271C14.3297 7.53263 14.3181 8.00737 14.0182 8.29306L8.76776 13.2944C8.47809 13.5703 8.02285 13.5703 7.73318 13.2944L2.48271 8.29306C2.18279 8.00737 2.17125 7.53263 2.45694 7.23271C2.74264 6.93279 3.21737 6.92125 3.51729 7.20694L8.25047 11.7155L12.9836 7.20694C13.2836 6.92125 13.7583 6.93279 14.044 7.23271Z"
                      fill="#F4F5F6"/>
                    <path
                      d="M14.044 2.23271C14.3297 2.53263 14.3181 3.00737 14.0182 3.29306L8.76776 8.29439C8.47809 8.57032 8.02285 8.57032 7.73318 8.29439L2.48271 3.29306C2.18279 3.00737 2.17125 2.53263 2.45694 2.23271C2.74264 1.93279 3.21737 1.92125 3.51729 2.20694L8.25047 6.71553L12.9836 2.20694C13.2836 1.92125 13.7583 1.93279 14.044 2.23271Z"
                      fill="#F4F5F6"/>
                  </svg>
                </div>
              </button>
              <button [disabled]="containValues == true" (click)="oneToAvailable()" type="button" class="b-solid">
                <div>
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M2.95694 10.2673C2.67125 9.96736 2.68279 9.49263 2.98271 9.20693L8.23318 4.2056C8.52285 3.92968 8.97809 3.92968 9.26776 4.2056L14.5182 9.20693C14.8181 9.49263 14.8297 9.96736 14.544 10.2673C14.2583 10.5672 13.7836 10.5787 13.4836 10.293L8.75047 5.78446L4.01729 10.293C3.71737 10.5787 3.24264 10.5672 2.95694 10.2673Z"
                      fill="#F4F5F6"/>
                  </svg>
                </div>
              </button>
              <button [disabled]="containValues == true" (click)="allToAvailable()" type="button" class="b-solid">
                <div>
                  <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M2.45601 8.26862C2.17032 7.9687 2.18186 7.49397 2.48178 7.20828L7.73224 2.20694C8.02191 1.93102 8.47715 1.93102 8.76682 2.20694L14.0173 7.20828C14.3172 7.49397 14.3287 7.9687 14.0431 8.26862C13.7574 8.56855 13.2826 8.58008 12.9827 8.29439L8.24953 3.7858L3.51636 8.29439C3.21643 8.58008 2.7417 8.56855 2.45601 8.26862Z"
                      fill="#F4F5F6"/>
                    <path
                      d="M2.45601 13.2686C2.17032 12.9687 2.18186 12.494 2.48178 12.2083L7.73224 7.20694C8.02191 6.93102 8.47715 6.93102 8.76682 7.20694L14.0173 12.2083C14.3172 12.494 14.3287 12.9687 14.0431 13.2686C13.7574 13.5685 13.2826 13.5801 12.9827 13.2944L8.24953 8.7858L3.51636 13.2944C3.21643 13.5801 2.7417 13.5685 2.45601 13.2686Z"
                      fill="#F4F5F6"/>
                  </svg>
                </div>
              </button>
            </div>
            <div class="data-B space-y-1">
              <span class="t-caption-2 text-mono-70">Atributos Seleccionados</span>
              <div class="rounded bg-mono-10 p-3 space-y-2">
                <div><input class="w-full h-10 px-2 rounded t-body-2 border border-mono-30 text-black" type="text"
                            placeholder="Buscar"></div>
                <div class="flex flex-col space-y-2 overflow-y-auto" style="max-height: 240px;"
                     cdkDropList
                     #selectedList="cdkDropList"
                     id="selected"
                     [cdkDropListConnectedTo]="[availableList]"
                     [cdkDropListData]="attributesSelected"
                     (cdkDropListDropped)="drop($event)">
                  <div *ngIf="attributesSelected.length === 0"
                       class="flex-1 py-2 flex flex-row space-x-2 items-center"
                       cdkDrag>
                    <label class="t-body-2 text-black">Ning&uacute;n atributo seleccionado.</label>
                  </div>
                  <div *ngFor="let selected of attributesSelected, let i = index"
                       cdkDrag
                       class="flex-1 py-2 flex flex-row space-x-2 items-center">
                    <input [disabled]="containValues == true"  (change)="selectAtribute('selected', i)" class="w-4 h-4" type="checkbox">
                    <label class="t-body-2 text-black">{{selected.description}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="actions flex flex-row space-x-2 space-y-1">
              <button (click)="onCancel()" class="w-full md:w-auto b-outline">Cancelar</button>
              <button [disabled]="containValues == true"  (click)="onSubmit()" type="submit" class="w-full md:w-auto b-solid">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </ng-container>
</app-layout>
<!--IS BLOCKED PAGE-->
<div class="fixed top-0 z-50 bg-black  w-screen h-screen flex items-center justify-center"
     style="background: rgba(20,20,20,0.6)" *ngIf="isBlock">
  <div class="p-4 flex bg-white rounded border border-solid border-mono-30">
    <div>
      <img src="assets/img/spiner.svg" class="animate-spin" alt="spiner">
    </div>
    <div class="t-h5 ml-4 text-black">
      <span>
        Cargando...
      </span>
    </div>
  </div>
</div>
