<div class="container-activity-form">
  <p-card header="{{'GENERAL_INFORMATION_OF_ACTIVITIES' | translate}}">
    <form [formGroup]="form" class="flex flex-col gap-4">
      <div>
        <span>{{'ACTIVITY' | translate}}</span>
        <ec-dropdown formControlName="activity" [dropStyle]="dropStyle" [data]="activityOptions" optionLabel="label"
                     [filter]="true"
                     optionValue="value" [showClear]="true" placeholder="{{'SELECT_ACTIVITY' | translate}}"
                     (onChangeValue)="buildParameters($event)"></ec-dropdown>
        <small *ngIf="getForm.get('activity')?.touched && getForm.get('activity')?.invalid" class="text-alert-error">
          Debe seleccionar una actividad
        </small>
      </div>
      <div>
        <span>{{'NAME' | translate}}</span>
        <input id="process" class="ec-input w-full" formControlName="name" type="text" maxlength="50"
               placeholder="{{'NAME' | translate}}"/>
        <small *ngIf="getForm.get('name')?.touched && getForm.get('name')?.invalid" class="text-alert-error">
          El campo es requerido
        </small>
      </div>
      <div *ngIf="fields.length" class="flex flex-col gap-4 justify-center w-full">
        <div *ngFor="let entity of fields; let position = index" class="flex flex-col gap-2 w-full">
          <span class="text-black capitalize">{{entity.templateOptions.label | replace: '_': ' '}}</span>
          <input *ngIf="entity.type === 'input'" class="ec-input w-full" type="text" [placeholder]="entity.templateOptions.placeholder" [formControlName]="entity.key">
          <ec-dropdown *ngIf="entity.type === 'select'" class="mt-1" [formControlName]="entity.key"
                       [dropStyle]="dropStyle" [filter]="true" optionLabel="label" optionValue="value" [data]="entity.templateOptions.options"
                       [placeholder]="entity.templateOptions.placeholder" [showClear]="true" (onChangeValue)="executeHook(entity, $event)"></ec-dropdown>
          <small *ngIf="getForm.get(entity.key)?.touched && getForm.get(entity.key)?.invalid"
                 class="text-alert-error">
            El campo es requerido
          </small>
        </div>
      </div>
    </form>

    <div class="mt-4 w-full h-full" *ngIf="attributesCurrent.length">
      <form class="flex flex-col gap-4" [formGroup]="formAttributes">
        <div *ngFor="let attribute of attributesCurrent; let position = index" class="flex flex-col gap-2 w-full">
          <span class="text-black capitalize">{{attribute.name | replace: '_': ' '}}</span>
          <input *ngIf="attribute.tag_html === 'Input'" class="ec-input w-full" type="text" [formControlName]="attribute.name">
          <small *ngIf="getForm.get(attribute.name)?.touched && getForm.get(attribute.name)?.invalid"
                 class="text-alert-error">
            El campo es requerido
          </small>
        </div>
      </form>
    </div>

    <div class="flex gap-4 justify-between items-center mt-4">
      <div class="flex gap-2 items-center justify-center">
        <span>{{'ENABLE' | translate}}</span>
        <input type="checkbox">
      </div>
      <button type="button" (click)="save()" class="b-solid">{{'SAVE' | translate}}</button>
    </div>
  </p-card>
</div>
