.container-activity-form {
  width: 100%;
  .btn-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
  }

  .row-input {
    margin: 1em 0;
  }
}

.ui-inputtext {
  width: 100%;
}

.ui-dropdown {
  width: 100%;
}

.on-status-icon {
  margin: 0 0.5em 0 0;
  color: #059c0a;
}

.off-status-icon {
  margin: 0 0.5em 0 0;
}

.node-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}