
<app-layout [typeButton]="2">
  <ng-container layoutBody>
    <div class="ec-container pb-12 bg-white" style="min-height: calc(100vh - 3rem)">
      <div class="pt-8 w-1/2">
        <div class="text-2xl bg-alert-error text-black">{{'CREATE CONTAINER'|translate}}</div>
        <div class="py-4 text-mono-70">

        </div>
        <div class="flex items-center space-x-2 text-mono-70">
          <ec-checkbox  txtColor="text-mono-70"></ec-checkbox>
          <span class="text-black t-body-2">label="{{'MAIN CONTAINER'|translate}}"</span>
        </div>
        <div>
          <div class="flex space-x-4 w-1/4 mt-10">
            <app-button routerLink="/wizard/dymanic-forms/forms" type="button" label="{{'CANCEL'|translate}}"
                        brColor="border-blue-600"
                        bgColor="bg-transparent"
                        txtColor="text-blue-600" class="h-12 w-full"></app-button>
            <app-button  type="button" label="{{'SAVE'|translate}}"
                         brColor="border-blue-600"
                         bgColor="bg-blue-600"
                         txtColor="text-gray-900" class="h-12 w-full"></app-button>
          </div>
        </div>
      </div>

      <div>
      </div>
    </div>
    <!--<app-footer></app-footer>-->
  </ng-container>
</app-layout>

<div class="fixed top-0 z-50 bg-black  w-screen h-screen flex items-center justify-center"
     style="background: rgba(20,20,20,0.6)" *ngIf="false">
  <div class="p-4 flex bg-white rounded border border-solid border-mono-30">
    <div>
      <img src="assets/img/spiner.svg" class="animate-spin" alt="spiner">
    </div>
    <div class="t-h5 ml-4 text-black">
      <span>
        {{'LOADING'|translate}}...
      </span>
    </div>
  </div>
</div>
